// COLORS
$primary-color: #20002c;
$secondary-color: #cbb4d4;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: #000;

$dark-grey: #c5bfe6;

$dark-blue-text: #eceaf8; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
